{% extends 'base.html' %}

{% block title %}
 - Rezerwacja
{% endblock %}

{% block content %}
{% if form %}

<div class="container content-section">
    <span class="zajazd-icon logo-white large"></span>
    <h3>Rezerwacje</h3>
    <hr>
    <div class="col-lg-6 col-lg-offset-1">

        <form action="" method="POST">

            {% csrf_token %}
            {{ form }}

            <br>
            <input type="submit" value='Rezerwacja' class="btn btn-default" role="button" >
        </form>
    </div>
</div>

{% endif %}
{% if reservation %}

<div class="container content-section">
     <span class="zajazd-icon logo-white large"></span>
    <h3>Rezerwacje</h3>
    <hr>
    <div class="col-lg-8 col-lg-offset-1">
        <p>
            Rezerwacja nr. Z/{{ reservation.id }}/{{year}} na {{ reservation.client.first_name }} {{ reservation.client.last_name }}<br>
            Nr. Telefonu: {{ reservation.client.phone }}   E-mail: {{ reservation.client.email }}<br>
            OD : {{ reservation.date_from }} DO: {{ reservation.date_to }} <br>
            {{reservation.room }}
            Liczba gości : {{ reservation.guests_number }}
            {% if reservation.breakfast %}
            ze śniadaniem
            {% else %}
            bez śniadania
            {% endif %}<br>
            Dodatkowe informacje: {{ reservation.additional_info }}<br>
            Łączna cena : {{ reservation.total_price }}<br>
            Zaliczka: {{ reservation.advance }}
            <br><br>
            <a href="{% url 'reservation:PDF' %}" class="btn btn-default btn-lg">PDF</a>
            <br><br>
            <a href="{% url 'reservation:reservation' %}" class="btn btn-default btn-lg">Wróć do początku</a>
        </p>
    </div>
</div>

{% endif %}
{% endblock %}